/* TODO: remove unused classes */

:root {
  /* style */
  --bg: #484044;
  --bg2: #5b5958;
  --accent: rgb(232, 137, 194);
  --accent2: #a941a7;
  /* size (TODO: add media flags) */
  --content-offset-left: 20px;
  --content-offset-top: 20px;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.bg {
  background-color: var(--bg);
}

.element-bg {
  background-color: var(--bg2);
}

.box {
  border: 2px solid var(--accent);
}

.box-r-5 {
  border-radius: 5px;
}

.box-r-10 {
  border-radius: 10px;
}

.container-top {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 20px;
}

.container-section {
  position: relative;
  top: var(--content-offset-top);
  left: var(--content-offset-left);
}
