body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    width: fit-content;
}

.col {
    flex: 1;
}

@media only screen and (max-width: 400px) {
    .container {
        gap: 10px;
    }
}
