:root {
    --box-w: 500px;
    --box-w-alt: 150px;
    --blur: 1.75rem;
    --box-blur: calc(0.5 * var(--blur));
    --glow: #ebdbb2;
    --size: 12rem;
    --font-size: 1;
}

html {
    background-color: #282828;
    background-image: url("../img/Suki.png");
    background-attachment: fixed;
    background-size: 100%;
}

body {
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100%;
    color: #ebdbb2;
    /*margin-left: 1vw;
    margin-top: 1vh;*/
    margin: 0;
    padding: 0;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    flex-direction: row;
}

body::-webkit-scrollbar {
    display: none;
}

* {
    font-family: "Inconsolata", monospace;
    font-size: calc(20px * var(--font-size));
    color: #ebdbb2;
    /*border: 1px solid red;*/
}

p {
    font-size: calc(18px * var(--font-size));
}

a {
    font-size: calc(18px * var(--font-size));
}

ul {
    list-style-type: none;
    padding-left: 5px;
}

#avatar {
    background-image: url("../img/face.png");
    background-size: 100%;
    width: calc(var(--box-w-alt) / 1.25) !important;
    height: calc(var(--box-w-alt) / 1.25) !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin: 0 auto;
}

#status {
    text-align: center;
    padding: 2px;
}

.box {
    width: var(--box-w);

    text-wrap: wrap;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;

    --glow-color: var(--glow); /* Fallback */

    --color: var(--glow-color);
    --shadow-color: color-mix(
        in Oklch,
        color-mix(in Oklch, var(--color), transparent 10%),
        #000 20%
    );

    background-color: color-mix(in Oklch, var(--color), transparent 95%);
    border: 2px solid var(--color);

    box-shadow: 0px 0px 10px 2px var(--shadow-color);
    border-radius: 4px;
}

.box-alt {
    width: var(--box-w-alt);
}

.box:last-of-type {
    margin-bottom: 20px;
}

.box-green {
    --glow-color: #b8bb26;
}

.box-yellow {
    --glow-color: #fabd2f;
}

.box-red {
    --glow-color: #fb4934;
}

.box-purple {
    --glow-color: #d3869b;
}

.purple {
    color: #d3869b;
}

.box-aqua {
    --glow-color: #8ec07c;
}

.aqua {
    color: #8ec07c;
}

.box-blue {
    --glow-color: #83a598;
}

.blue {
    color: #83a598;
}

.box-gray {
    --glow-color: #928374;
}

.gray {
    color: #928374;
}

/* .box-last {
    margin-bottom: 10px;
} */

.green {
    color: #b8bb26;
}

.yellow {
    color: #fabd2f;
}

.red {
    color: #fb4934;
}

.smallish {
    font-size: calc(15px * var(--font-size));
}

.small {
    font-size: calc(12px * var(--font-size));
}

.gray {
    color: #928374;
}

.italic {
    font-style: italic;
}

.strong {
    font-weight: bold;
    font-size: calc(10px * var(--font-size));
}

.dim-glow {
    --glow-color: color-mix(in Oklch, var(--glow-color), #000 10%)
}

.invisible {
    color: #00000000;
}

progress {
    accent-color: #d3869b;
}

@media only screen and (max-width: 700px) {
    :root {
        --box-w: 60vw;
        --box-w-alt: 20vw;
        --font-size: 0.9;
    }
}

@media only screen and (max-width: 360px) {
    :root {
        --font-size: 0.6;
    }
}
