:root {
    --bg: rgb();
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #282828;
    color: #ebdbb2;
}

* {
    font-family: "Inconsolata", monospace;
    color: #ebdbb2;
}

.box {
    width: 400px;
    text-wrap: wrap;
    padding: 5px;
    border: 1px solid #ebdbb2;
}